In [ ]:
#W2A1
print("Hello World!")

In [ ]:
#W2A2
name = input()
print(f"Hello {name}")

In [ ]:
#W2A3
a, b = map(int, input().split())
print(a + b)
print(a - b)
print(a * b)
print(a // b)
print(a % b)
print(f"{a / b:.2f}")

In [ ]:
#W2A4
scores = list(map(float, input().split()))
tb = (scores[0] + scores[1] + scores[2] + (scores[3] + scores[4]) * 2 + scores[5] * 3) / 10
print(f"{tb:.1f}")

In [ ]:
#W2A5
a, b = map(int, input().split())
print(a ** b)

In [ ]:
#W2A6
c = input()
print(ord(c))
print(c.upper())

In [ ]:
#W2A7
A = ((13**2) * 3) + 5
B = 13**2 * 3 + 5
print(A)
print(B)

In [ ]:
#W2A8
C = float(input())
F = 9/5 * C + 32
print(f"{F:.2f}")

In [ ]:
#W2A9
x = float(input())
total = (x + 10) * 1.3 * 1.1
print(f"{total:.2f}")

In [ ]:
#W2A10
names = input().split()
print(f"Hi {names[2]}, {names[1]} and {names[0]}.")

In [ ]:
#W2A11
h, m = map(int, input().split())
print(h * 3600 + m * 60)

In [ ]:
#W2A12
n = int(input())
print(6 * n * n)

In [ ]:
#W2A13
a, b = map(int, input().split())
print((a * b) % 10)

In [ ]:
#W2A14
a, b = map(int, input().split())
a, b = b, a

In [ ]:
#W2A15
n = int(input())
print(1 + 3 * n * (n - 1))

In [ ]:
#W2A16
print("Spring\nSummer\nAutumn\nWinter")

In [ ]:
#W2A17
print("  *  ")
print(" *** ")
print("*****")

In [ ]:


print("##### ##   ##### #####"),
print("  #   # #    #     #"),
print("  #   #  #   #     #"),
print("  #   # #    #     #"),
print("  #   ##     #     #")

In [ ]:
#W2A19
print("Monday\nTuesday\nWednesday\nThursday\nFriday\nSaturday\nSunday")

In [ ]:
#W2A20
print("January\nFebruary\nMarch\nApril\nMay\nJune\nJuly\nAugust\nSeptember\nOctober\nNovember\nDecember")

In [ ]:
#W2A21
for _ in range(10):
    print("Hello, world")